:root {
  /* widget/UI-element colors */
  --text-color: #9fa1b3;

  --widget-color: #9fa1b3;
  --widget-color-enabled: #FFFFFF;

  /* main colors for large areas */
  --color-secondary: #32465a;
  --color-secondary-darker: #344b618a;

  --color-secondary-hover: #2c3e50;
  --color-secondary-hover-light: #304457;
  
  --color-primary: #2c3e50;

  --color-background: #304357;
}