@import "../shared/colors.css";


:root {
	--code-editor-color: #34495e;
	--IO-console-color: #34495e;
    --editor-elem-border-color: #4e6377;
}


body {
    overflow: scroll;
    margin: 0px;
}

::selection {
    background: var(--color-background);
}

/* Hide scrollbar for Chrome, Safari, Opera, IE, Edge and Firefox */
::-webkit-scrollbar {
    display: none;
}

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.noselect {                            /*´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´*/
    -webkit-touch-callout: none;      /* iOS Safari                      */
    -webkit-user-select:   none;     /* Safari                          */
    -khtml-user-select:    none;    /* Konqueror HTML                  */
    -moz-user-select:      none;   /* Old versions of Firefox         */
    -ms-user-select:       none;  /* Internet Explorer/Edge          */
    user-select:           none; /* Chrome, Edge, Opera and Firefox */
                                /*.................................*/
}


/* --------------------------editor-------------------------- */
.editor {
    /* dimensions */
    height: 80%;
    padding: 0;
    border: none;

    /* positioning */
    position: relative;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-right: 1vw;
    margin-left: 1vw;

    /* inner positioning */
    display: flex;
    flex-direction: column;
}


.editor .input, .editor .highlighted-output {
    /* dimensions */
    box-sizing: border-box;
    height: 100%;
    width: 100%;

    /* positioning */
    position: absolute;
    
    /* inner positioning/sizing */
    padding: 0.5%;
    
    /* font */
    font-size: 1rem;
    line-height: 1.3rem;
    font-family: monospace;
    white-space: pre;
    word-wrap: break-word;
    line-height: 1.5em; /* recommended value by then w3c */
    
    /* events */
    overflow: scroll;

    /* borders */
    border-width: 0.3vh;
    border-style: hidden;
    border-color: var(--editor-elem-border-color);
    outline: none;
    
    /* colors */
    background-color: var(--code-editor-color);
}

.editor .input {
    /* positioning */
    z-index: 1;

    /* colors */
    color: transparent;
    caret-color: var(--text-color);
    background-color: transparent;

    cursor: default;
}

.editor .highlighted-output {
    z-index: 0;
    color: var(--text-color);
}

span > span {
    color: transparent !important;
}

/* --------------------------popup-messages-------------------------- */
.popup-msg {
    /* alignment */
    display: flex;
    justify-content: center;
    align-items: center;

    /* positioning */
    position: absolute;
    z-index: 5;
    top: 50vh;
    left: 50vw;
    margin-top: -25vh;
    margin-left: -25vw;
    padding: 1% 2.1% 1.1%;

    /* dimensions */
    width: 50vw;
    height: 50vh;

    /* shadow */
    box-shadow: 0px -1vh 0px rgba(0, 0, 0, 0.1) inset;

    /* border */
    border-radius: 1vh;
    border-width: .5vh;
    outline: 1px solid transparent; /* <- fixes weird screenRedraw bug in chrome */

    /* colors */
    color: rgba(0, 0, 0, 0.5);

    /* text */
    font-family: sans-serif;
    font-weight: 800;
    font-size: 3vh;
    text-align: center;
    text-decoration: none;
    word-break: normal;
    white-space: normal;

    /* transitions */
    transition: transform 0.5s
              , background-color 0.5s;
}

.popup-msg:hover {
    transform: scale(1.01);
    transition: transform 0.5s;
}

.remove-msg {
    background-color: rgba(0, 0, 0, 0);
    transform: scale(0);
}

.out-msg {
    background-color: #3ce77b;
}

.err-msg {
    background-color: #e74c3c;
}


/* --------------------------buttons-------------------------- */
#run-btn {
    height: 10vh;
}

#save-btn {
    height: 10vh;
}

.responsive-btn-1 {
    cursor: pointer;

    /* dimensions */
    height: 100%;

    /* border */
    outline: none;
    border-style: solid;
    border-radius: 1vh;
    border-width: .0vh;
    border-bottom-width: 0.5vh;
    border-right-width: 0.2vw;

    /* positioning */
    position: relative;
    padding: 1% 2.1% 1.1%;
    margin-top:    2vh;
    margin-bottom: 1vh;
    margin-right:  1vw;
    margin-left:   1vw;

    /* shadow */
    box-shadow: 0px -0.3vh 0px rgba(0, 0, 0, 0.1) inset;

    /* color */
    background: #e74c3c;
    border-color: #a8382b;
    color: rgba(0, 0, 0, 0.5);

    /* text */
    font-family: sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    font-size: 3vh;
    text-decoration: none;

    /* animation */
    transition: transform 0.3s;
}

.responsive-btn-1:hover {
    transform: scale(1.05);
}

.responsive-btn-1:active {
    transform: scale(0.80);
}