@import "../shared/colors.css";


:root {
  /* positioning/distances/dimensions */
  --top-bar-height: 10vh;
  --nav-elem-padding: 19%;
}


body {
  background-color: var(--color-background);
  height: 100%;
  margin: 0px;
  overflow: hidden;
}


/* Hide scrollbar for Chrome, Safari, Opera, IE, Edge and Firefox */
::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  height: 100%;
  scrollbar-width: none;
}

.unselectable, .nav-elem {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*----------- nav-bar -----------*/
.nav-link {
  /* dimensions */
  display: block;
  height: 100%;

  /* positioning */
  padding: var(--nav-elem-padding);
  
  /* font */
  font-size: 2vh;
  font-family: "Open Sans";
  font-weight: bold;
  color: var(--text-color);
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: auto;
  max-height: calc(100vh - var(--nav-elem-padding));
}

a {
  text-decoration: none;
  color: inherit;
}

.nav-elem {
  cursor: pointer;
  
  transform: scale(0.93);
  
  margin-top: 5%;
  text-align: left;
  
  border-radius: 2%;
  
  background-color: var(--color-secondary-darker);
  
  border-right-width: .3vw;
  border-right-style: solid;
  border-right-color: var(--color-secondary-hover-light);

  border-bottom-width: .5vw;
  border-bottom-style: solid;
  border-bottom-color: var(--color-secondary-hover);
  
  transition: background-color 0.3s ease-out
            , transform        0.3s ease-in-out;
}

.nav-elem:hover {
  background-color: var(--color-secondary-hover);

  transform: scale(0.97);
  
  transition: background-color   0.3s ease-in-out
            , transform          0.3s ease-in-out;
}

.nav-elem:active {
  transform: scale(0.85);
  
  transition: transform 0.1s ease-in-out;
}

.nav-bar {
  z-index: 0;
  
  height: calc(100vh - var(--top-bar-height));
  width: var(--nav-elem-padding);

  position: absolute;
  top: var(--top-bar-height);
  left: 0;

  border-right-width: .2vw;
  border-right-style: solid;
  border-right-color: var(--color-primary);

  background-color: var(--color-secondary);

  transition: top 0.5s ease-in-out;

}

/*----------- top-menu-bar -----------*/
.top-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  
  z-index: 1;
  width: 100vw;
  height: var(--top-bar-height);
  
  position: absolute;
  left: 0;
  top: 0;

  backdrop-filter: blur(20px);
  
  opacity: 0.9;

  background-color: var(--color-primary);
}

#dot-lang-icon {
  --scaling-factor: 0.7;
  
  height: auto;

  position: relative;
  
  transform: scale(var(--scaling-factor));
  transition: transform 0.5s;
  z-index: 1;
}

#dot-lang-icon:hover {
  transform: scale(calc(var(--scaling-factor) * 1.02));
}

@media only screen and (max-width: 800px) {
    .dot-lang-icon-width {
        width: 80vw;
    }
}

@media only screen and (min-width: 801px) {
    .dot-lang-icon-width {
        width: 33vw;
    }
}


/*----------- menu-button -----------*/
#menu-icon {
  /* position, size and rotation */
  position: absolute;

  left: 1vw;
  top: 1vh;

  z-index: 2;

  transform: rotate(90deg);
  
  width: calc(var(--top-bar-height) / 2);

  /* colors */
  fill: var(--color-secondary);
  stroke: var(--widget-color);
  stroke-width: 1px;
  stroke-dasharray: 0;
  stroke-linejoin: round;

  /* animations */
  transition: transform 0.5s ease-in-out
            , fill 0.5s ease-in-out
            , stroke 0.5s ease-in-out
            , stroke-width 0.5s ease-in-out
            , stroke-dasharray 0.5s ease-in-out
            , stroke-linejoin 0.5s ease-in-out
            ;
}

#menu-btn {
  /* position, size and rotation */
  position: absolute;
  
  left: 1vw;
  top: 1vh;
  
  height: var(--top-bar-height);
  width: calc(var(--top-bar-height) / 2);

  -webkit-appearance: none;
  appearance: none;
  z-index: 3;
  opacity: 0;
  
  cursor: pointer;
}

#menu-btn:checked ~ #menu-icon {
  transform: rotate(0deg);

  fill: var(--color-secondary-hover);
  stroke: var(--widget-color);
  stroke-width: 1px;
  stroke-dasharray: 5;
  stroke-linejoin: round;

  transition: transform 0.5s ease-in-out
            , fill 0.5s ease-in-out
            , stroke 0.5s ease-in-out
            , stroke-width 0.5s ease-in-out
            , stroke-dasharray 0.5s ease-in-out
            , stroke-linejoin 0.5s ease-in-out
            ;
}

#menu-btn:checked ~ .nav-bar {
  position: absolute;
  top: -100vh;
  transition: top 0.5s ease-in-out;
}

/*----------- content -----------*/
#tut-content-page {
  position: absolute;

  left: 0px;
  top: 0px;

  width: 50vw;
  height: calc(100vh - var(--top-bar-height));
  
  display: inline-block;
}

#editor-window {
  /* positioning */
  position: absolute;
  margin-top: 14vh;
  padding: 0px;
  right: 2vw;

  /* dimensions */
  width: 50vw;
  height: 80vh;

  /* borders */
  border-radius: 2%;
  
  border-right-width: .3vw;
  border-right-style: solid;
  border-right-color: var(--color-secondary-hover-light);

  border-top-width: 4vh;
  border-top-style: solid;
  border-top-color: var(--color-secondary-hover);

  border-bottom-width: .5vw;
  border-bottom-style: solid;
  border-bottom-color: var(--color-secondary-hover);

  /* colors */
  background-color: var(--color-secondary-darker);
  color: var(--text-color);
  
}

#editor-content-page {
  position: relative;

  height: 80vh;
  width: 50vw;
  
  display: inline-block;

  transform: scale(0.9);
}

.content-page-iframe {
  width: 100%;
  height: 100vh;

  border: 0;
}

#editor-iframe {
  height: 80vh;
}